//LAYOUT
.ant-layout {
  background-color: #f2a365;
  .ant-layout-header {
    background-color: #222831;
  }
  .site-layout-content {
    background: #30475e;
    padding: 24px;
    min-height: 280px;
    .selection .ant-select{
      margin-right: 20px
    }
    .spin {
      margin: auto;
      width: 3%;
      margin-top: 5%;
    }
    .cards {
      display: flex;
      .ant-card {
        margin-top: 20px;
        margin-right: 20px;
      }
    }
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
  .ant-layout-footer {
    background-color: #222831;
    margin-top: 20px;
    color: #ececec;
  }
}